<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,364},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>balloon_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,581},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,314},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,596},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,314},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,568},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,544},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,432},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,511},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,401},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,488},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,352},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,314},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,557},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,264},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,554},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,264},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,526},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,502},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,382},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,469},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,351},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,302},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>bird_10_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,160},{76,46}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>bird_10_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,154},{76,46}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>bird_10_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,202},{74,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>bird_10_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,164},{74,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>bird_11_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{88,48}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,48}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bird_11_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{94,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,48}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bird_11_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,498},{56,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bird_11_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,470},{56,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bird_12_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{75,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>bird_12_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,204},{75,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>bird_12_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,364},{63,44}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>bird_12_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,402},{63,44}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>bird_13_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,100},{80,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>bird_13_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{80,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>bird_13_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,410},{62,47}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>bird_13_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,364},{62,47}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>bird_1_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,103},{80,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>bird_1_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,52},{80,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>bird_1_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{66,51}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>bird_1_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,329},{66,51}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>bird_2_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,100},{80,46}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>bird_2_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,46}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,46}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>bird_2_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,451},{48,60}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>bird_2_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,448},{48,60}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>bird_3_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{69,50}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{69,50}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>bird_3_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,52},{83,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>bird_3_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,426},{43,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>bird_3_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,364},{43,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>bird_4_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{92,44}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>bird_4_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{86,44}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{86,44}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>bird_4_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,108},{72,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>bird_4_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,52},{72,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>bird_5_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,52},{86,46}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>bird_5_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,52},{84,46}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>bird_5_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{76,54}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>bird_5_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,148},{76,54}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>bird_6_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,245},{72,48}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>bird_6_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,208},{72,48}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>bird_6_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,525},{54,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>bird_6_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,501},{54,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>bird_7_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{89,48}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>bird_7_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{91,48}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>bird_7_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,145},{77,54}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>bird_7_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,104},{77,54}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>bird_8_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,258},{68,42}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>bird_8_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,201},{76,42}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>bird_8_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,414},{60,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>bird_8_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,413},{60,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>bird_9_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,220},{68,42}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>bird_9_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,246},{72,42}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>bird_9_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,295},{66,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>bird_9_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,258},{64,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>nho/bird_12_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,290},{70,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
            <key>nho/bird_12_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{70,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
            <key>nho/bird_12_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,459},{60,41}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
            <key>nho/bird_12_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,482},{60,41}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_balloon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:231f7f3d1d46f184ea54f25be837c4d3:1/1$</string>
            <key>textureFileName</key>
            <string>bird_balloon.png</string>
        </dict>
    </dict>
</plist>
