<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_enemy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,448},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_enemy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,413},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_hero1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,409},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,558},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_hero2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,360},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,508},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,398},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,448},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_hero4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,413},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_hero5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,356},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_hero6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,348},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,342},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_hero7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>balloon_hero8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,292},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>balloon_hero8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>enemy1-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{91,48}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>enemy1-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,52},{91,48}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>enemy1-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,202},{75,54}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{75,54}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>enemy1-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,194},{75,54}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{75,54}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>enemy2-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{91,48}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>enemy2-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{91,48}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>enemy2-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,300},{69,54}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{69,54}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>enemy2-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,292},{69,54}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{69,54}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>hero1-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,150},{80,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>hero1-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,102},{80,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>hero1-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,120},{66,51}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>hero1-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,52},{66,51}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>hero10-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,188},{76,46}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>hero10-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,146},{76,46}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>hero10-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,257},{74,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>hero10-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,209},{74,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>hero11-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,52},{88,48}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,48}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>hero11-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{94,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,48}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>hero11-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,456},{56,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>hero11-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,448},{56,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>hero2-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{80,46}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>hero2-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,46}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,46}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>hero2-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,410},{48,60}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>hero2-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,406},{48,60}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>hero3-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,308},{69,50}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{69,50}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>hero3-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{83,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>hero3-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,463},{43,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>hero3-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,459},{43,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>hero4-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{92,44}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>hero4-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,100},{86,44}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{86,44}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>hero4-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,236},{72,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>hero4-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{72,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>hero5-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,52},{86,46}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>hero5-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,102},{84,46}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>hero5-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{76,54}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>hero5-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,201},{76,54}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>hero6-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,258},{72,48}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>hero6-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,250},{72,48}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>hero6-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,504},{54,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>hero6-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,460},{54,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>hero7-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,52},{89,48}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>hero7-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{91,48}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>hero7-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,153},{77,54}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>hero7-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,102},{77,54}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>hero8-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,313},{68,42}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>hero8-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,158},{76,42}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>hero8-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{60,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>hero8-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,392},{60,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>hero9-fly-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,309},{68,42}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>hero9-fly-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,265},{72,42}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>hero9-walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,353},{66,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>hero9-walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,357},{64,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_balloon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e704c5e6a8688138fd46c9937b12260:1/1$</string>
            <key>textureFileName</key>
            <string>bird_balloon.png</string>
        </dict>
    </dict>
</plist>