<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,452},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,432},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>1.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,402},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>1.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,417},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>1.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,402},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>1.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,397},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>10.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,382},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>10.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,352},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>10.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,352},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>10.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,462},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>10.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,412},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>10.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,397},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>11.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,367},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>11.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,352},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>11.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,332},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>11.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,332},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>11.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,302},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>11.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,302},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>12.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,302},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>12.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>12.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>12.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,347},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>12.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,332},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>12.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,302},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,282},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,252},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>2.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,252},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>2.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,252},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>2.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>2.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,282},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,267},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,252},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,232},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,202},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,202},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,202},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>4.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>4.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>4.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,217},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>4.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>4.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,182},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>4.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,152},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>5.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,152},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>5.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,152},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>5.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,152},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>5.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,152},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>5.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>5.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>6.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,132},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>6.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,102},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>6.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,102},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>6.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,102},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>6.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,102},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>6.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,102},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>7.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>7.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>7.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,67},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>7.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,52},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>7.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,52},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>7.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,52},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>8.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,52},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>8.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,52},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>8.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,52},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>8.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>8.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>8.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>9.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>9.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>9.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>9.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>9.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>9.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mini_map.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f42a267be7512b636aea63c6ae759e:1/1$</string>
            <key>textureFileName</key>
            <string>mini_map.png</string>
        </dict>
    </dict>
</plist>
