<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1671},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1393},{180,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,136}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>1.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{185,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,138}}</string>
                <key>sourceSize</key>
                <string>{185,138}</string>
            </dict>
            <key>1.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{187,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,138}}</string>
                <key>sourceSize</key>
                <string>{187,138}</string>
            </dict>
            <key>1.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,138}}</string>
                <key>sourceSize</key>
                <string>{187,138}</string>
            </dict>
            <key>1.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,138}}</string>
                <key>sourceSize</key>
                <string>{187,138}</string>
            </dict>
            <key>10.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1670},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1531},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1532},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1531},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1393},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1895},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1713},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1531},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1895},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1713},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1531},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1392},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1254},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1254},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1254},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{180,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,136}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1253},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1115},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1115},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1115},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1114},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,976},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,976},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,976},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,975},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,837},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,837},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,837},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,836},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,698},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,698},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,698},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,697},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,559},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,559},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,559},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,558},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,420},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,420},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,420},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,419},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,281},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,281},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,281},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,280},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,142},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,142},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,142},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,141},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>map_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mini_map.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4461e72d71a335447ad9049a91dfe689:1/1$</string>
            <key>textureFileName</key>
            <string>mini_map.png</string>
        </dict>
    </dict>
</plist>
