<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1670},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1878},{180,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,136}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>1.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{185,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,138}}</string>
                <key>sourceSize</key>
                <string>{185,138}</string>
            </dict>
            <key>1.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,138}}</string>
                <key>sourceSize</key>
                <string>{187,138}</string>
            </dict>
            <key>1.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{187,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,138}}</string>
                <key>sourceSize</key>
                <string>{187,138}</string>
            </dict>
            <key>1.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,138}}</string>
                <key>sourceSize</key>
                <string>{187,138}</string>
            </dict>
            <key>10.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1531},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1392},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1253},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1114},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,975},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>10.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,836},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,697},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,558},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,419},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1832},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1809},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>11.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1650},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1670},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1468},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1531},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1286},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1392},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>12.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1104},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,422},{180,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,136}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1253},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1114},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,922},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,975},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>2.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,740},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,836},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,558},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,697},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,558},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1694},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>3.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1512},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>4.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1330},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>4.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1148},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>4.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,966},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>4.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,784},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>4.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,602},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>4.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,419},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,419},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,420},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,280},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,280},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,280},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>5.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,281},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,141},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,141},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,141},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1696},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1514},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>6.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1332},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1150},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,968},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,786},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,604},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>7.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1673},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1395},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>8.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>9.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>map_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,142},{180,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mini_map.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6e276ebe0a5cec1cf304bdc13055005:1/1$</string>
            <key>textureFileName</key>
            <string>mini_map.png</string>
        </dict>
    </dict>
</plist>
